
<div class="row">

    <div class="col-md-5">
      <a href="#">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>ADD TEST</h1>
                    <h2>Click her to add a new test</h2>
            
                </div>
            </div>
            </a>
            
           <!-- <app-tests></app-tests>-->
    </div>
    
    <div class="col-md-5">
        <a href="#">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>UPADTE TEST</h1>
                    <h2>Click if you wnat to delete test</h2>
            
                </div>
            </div>
            </a>  
            <!--<app-questions></app-questions>-->
    </div>
    
    <div class="col-md-5">
        <a href="#">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>DELETE TEST</h1>
                    <h2>Click if you want to delete a test</h2>
            
                </div>
            </div>
            </a>
    </div>
    
    
    </div>