
<div class="row">

    <div class="col-md-5">
      <a href="add-question">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>ADD QUESTION</h1>
                    <h2>Click here to add a new Question</h2>
            
                </div>
            </div>
            </a>
            
           <!-- <app-tests></app-tests>-->
    </div>
    
    <div class="col-md-5">
        <a href="#">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>UPADTE QUESTION</h1>
                    <h2>Click if you want to update question</h2>
            
                </div>
            </div>
            </a>  
            <!--<app-questions></app-questions>-->
    </div>
    
    <div class="col-md-5">
        <a href="#">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>DELETE QUESTION</h1>
                    <h2>Click if you want to delete a question</h2>
            
                </div>
            </div>
            </a>
    </div>
    
    
    </div>