
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="topnav">
    <a class="active" href="home"><h3>Online Test Management System</h3></a>
    <br>
    <a routerLink="show-tests-all">Tests</a>
    <a routerLink="show-questions-all">Questions</a>
    <a routerLink="show-users-all">Users</a>
    <a routerLink="viewresult">Result</a>
    <div class="loggout"><a href="#logout">Logout</a></div>
    
    <div class="dropdown">
        <button class="dropbtn">MENU
          
        </button>
        <div class="dropdown-content">
          <a routerLink="test-menu">Test Menu</a>
          <a routerLink="question-menu">Question Menu</a>
          <a routerLink="viewresult">Result Menu</a>
        </div>
      </div>
      
      
  </div>

  