
<div class="row">

    <div class="col-md-5">
      <a href ="test-menu">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>TESTS</h1>
                    <h2>This Takes You To Tests Menu</h2>
            
                </div>
            </div>
            </a>
            
           <app-tests></app-tests>
    </div>
    
    <div class="col-md-5">
        <a href="question-menu">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>QUESTIONS</h1>
                    <h2>This Takes You To Questions Menu</h2>
            
                </div>
            </div>
            </a>  
           <app-questions></app-questions>
    </div>
    
    <div class="col-md-8">
        <a href="#">
            <div class="card">
                
                <div class="card-image"></div>
                <div class="card-txt">
                    <h1>Give Test</h1>
                    <h2>This Takes You To Tests Menu</h2>
            
                </div>
            </div>
            </a>
    </div>

    
    
    
    </div>